.brand{
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 2rem;
    margin-left: 2rem;
}
.brand h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}
.brand1 h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}
.brand2 h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}
.brand div img{
    height: 30vh;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}
::-webkit-scrollbar{
    width: 0px;
}
.brand1,
.brand2{
    display: none;
}
.brand1 div img{
    height: 30vh;
    width: 70%;
    margin-left: 10%;
}
.brand2 div img{
    height: 30vh;
    width: 70%;
    margin-left: 10%;

}
 @media screen and (max-width: 1350px){
    .brand,
    .brand2{
        display: none;
    }
    .brand1{
        display: block;
    }
}
@media screen and (max-width: 700px){
    .brand,
    .brand1{
        display: none;
    }
    .brand2{
        display: block;
    }
}