.service_description_banner img{
    height: 75vh;
    width: 100%;
}
.service_description_banner caption p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40%;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    bottom: 50%;
    text-align: center;
    color:#fff;
    letter-spacing: 5px;
}

.service_description {
    font-size: 50px;
}
.service_description-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.service-des-container{
    flex: 1;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-left: -1rem;
}

.service-des-container ul{
    color: #fff;
    background-color: rgb(50, 60, 192);
    font-size: 18px;
    margin-left: -1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    font-weight: 500;
}



@media screen and (max-width: 1300px){
    .service_description_banner img{
        height: 50vh;
        width: 100%;
    }
    .service_description_banner caption p{
        padding-left: 22%;
        bottom: 40%;

    }

}