.rfoptimisation-position-relative{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rfoptimisation_description-banner img{
    height: 70vh;    
    width: 97%;
    
}

.rfoptimisation_description-banner caption p h1{
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: absolute;
    font-size: 75px;
    font-weight: 500;
    line-height: 90px;
    /* top: 40%; */
    left: 50%;
    transform: translate(-50%,-110%);
    text-align: center;
    color:#fff;
    border-radius: 15px;
    background-color: rgba(58, 26, 186, 0.8);
    /* letter-spacing: 5px; */
}

.rfoptimisation_description_data {
    font-size: 18px;
    margin-top: 3rem;
    margin: 30px;
}

.rfoptimisation_description_data_heading{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.rfoptimisation_description-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.rfoptimisation-des-container{
    flex: 1;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-left: -1rem;
}

.rfoptimisation-des-container ul{
    color: #fff;
    background-color: rgba(50, 59, 192, 0.8);
    font-size: 18px;
    margin-left: -1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 25px;
}
.rfoptimisation-des-container ul:hover{
    background-color: rgb(29, 36, 137, 0.8);
}

@media screen and (max-width: 1350px){
    .rfoptimisation_description-banner caption p h1{
        font-size: 65px;
        line-height: 85px;

        }
    }

@media screen and (max-width: 1150px){
    .rfoptimisation_description-banner img{
        height: 55vh;
    }
    .rfoptimisation_description-banner caption p h1{
        line-height: 75px;
                    /* top: 34%; */
                    font-size: 55px;
        }
    }


@media screen and (max-width: 980px){
    .rfoptimisation_description-banner caption p h1{
                font-size: 45px;
                    /* top: 34%; */
                    line-height: 65px;

        }
        .rfoptimisation-des-container{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
            margin-left: -1rem;
        }
        .rfoptimisation_description_data {
            font-size: 15px;
        }
        .rfoptimisation_description_data_heading{
            font-size: 18px;
        }
        .rfoptimisation-des-container ul{
            font-size: 15px;
        }
    }
 @media screen and (max-width: 850px){
    .rfoptimisation_description-banner img{
        height: 45vh;
    }
        .rfoptimisation_description-banner caption p h1{
                       font-size: 45px;
                    /* top: 29%; */
                    line-height: 65px;

            }
            .rfoptimisation-des-container{
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;
                margin-left: -1rem;
            }
        }
 @media screen and (max-width: 780px){
            .rfoptimisation_description-banner caption p h1{
                               font-size: 40px;
                    /* top: 29%; */
                    line-height: 60px;

                }
                .rfoptimisation-des-container{
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 1rem;
                    margin-left: -1rem;
                }
                .rfoptimisation_description_data {
                    font-size: 15px;
                }
                .rfoptimisation_description_data_heading{
                    font-size: 18px;
                }
                .rfoptimisation-des-container ul{
                    font-size: 15px;
                }
            }

@media screen and (max-width: 700px){
        .rfoptimisation_description-banner caption p h1{
                line-height: 50px;
                    /* top: 29%; */
                    font-size: 30px;
        }
        .rfoptimisation_description_data {
            font-size: 15px;
        }
        .rfoptimisation_description_data_heading{
            font-size: 18px;
        }
        .rfoptimisation-des-container ul{
            font-size: 15px;
        }
    }

@media screen and (max-width: 550px){
    .rfoptimisation_description-banner img{
        height: 40vh;
    }
    .rfoptimisation_description-banner caption p h1{
                font-size: 30px;
                    /* top: 27%; */
                    line-height: 50px;

        }
        .rfoptimisation_description_data {
            font-size: 15px;
        }
        .rfoptimisation_description_data_heading{
            font-size: 18px;
        }
        .rfoptimisation-des-container ul{
            font-size: 15px;
        }
    }
@media screen and (max-width: 400px){
    .rfoptimisation_description-banner img{
        height: 35vh;
    }
        .rfoptimisation_description-banner caption p h1{
                    font-size: 19px;
                    /* top: 30%; */
                    line-height: 40px;

            }

            .rfoptimisation_description_data {
                font-size: 10px;
            }
            .rfoptimisation_description_data_heading{
                font-size: 12px;
            }
            .rfoptimisation-des-container ul{
                font-size: 10px;
            }
}