.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,0, 0,0.4);

    padding: 0.1rem 1rem;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.navbar.active{
    background-color: #ffffffec;
    box-shadow: 0px 0px 15px rgba(0,0, 0,0.4);
}

.ptech__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ptech__navbar-links_logo {
    justify-content: flex-start;
    margin-left: 1rem;
}

.ptech__navbar-links_logo img {
    width: 100%;
    height: 70px;
}

.ptech__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.ptech__navbar-links_container p,
.ptech__navbar-menu_container p {
    color: #000000;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}
.ptech__navbar-service_container p{
    color: #ffffff;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 19px;
    line-height: 35px;
    text-transform: capitalize;

    /* margin: 0 1rem; */
    cursor: pointer;
}
.ptech__navbar-menu {
    margin-left: 1rem;
    display: none;
 
}
.ptech__navbar-service {
    margin-left: 1rem;
    display: flex;
    z-index: 1000;
    position: relative;
}
.ptech__navbar-service p{
    margin-left: -2rem;
    margin-right: -1rem;
    font-size: 19px;
    line-height: 25px;
    font-weight: 500;

}

.ptech__navbar-menu svg {
    cursor: pointer;
}

.ptech__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: #eff0ffe7;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 60px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}
.ptech__navbar-service_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    background: #0d2c7ce7;
    padding: 1rem;
    position: absolute;
    right: -10rem;
    top: 40px;
    margin-top: 1rem;
    min-width: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0, 0,0.2);
}

.ptech__navbar-menu_container p {
    margin: 1rem 0;
}
.ptech__navbar-service_container p {
    margin: 0.5rem 0;
}

.ptech__navbar-menu_container-links-sign {
    display: none;
}

.ptech__navbar-service_container-links-sign {
    display: flex;
    z-index: 1000;
}
@media screen and (max-width: 1100px) {
    .ptech__navbar-links_container {
        display: none;
    }
    
    .ptech__navbar-menu {
        display: flex;
        z-index: 1000;
        /* position: absolute; */
    }
    .ptech__navbar-service {
        display: flex;
        z-index: 1000;
        margin-left: 5rem;
        /* position: absolute; */
    }
    .ptech__navbar-service_container{
        display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    background: #0d2c7cef;
    padding: 1rem;
    position: absolute;
    right: 7.5rem;
    top: 60px;
    margin-top: -2.5rem;
    min-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
    }
}

@media screen and (max-width: 700px) {
    .ptech__navbar {
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 550px) {
    .ptech__navbar {
        padding: 0.1rem;
    }

    .ptech__navbar-sign {
        display: none;
    }

    .ptech__navbar-menu_container {
        top: 60px;
    }
    .ptech__navbar-service_container {
        top: 10px;
    }
    .ptech__navbar-menu_container-links-sign, 
    .ptech__navbar-service_container-links-sign{
        display: block;
    }
    .ptech__navbar-service_container{
        display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    background: #0d2c7cef;
    /* padding: 1rem; */
    position: absolute;
    right: -1.5rem;
    top: 100px;
    margin-top: -2.5rem;
    min-width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
    }

    .ptech__navbar-service_container p{
        color: #ffffff;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        text-transform: capitalize;
    
        margin: 0 1rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 360px) {
    .ptech__navbar {
        padding: 0.1rem;
    }

    .ptech__navbar-sign {
        display: none;
    }

    .ptech__navbar-menu_container {
        top: 60px;
    }
    .ptech__navbar-service_container {
        top: 10px;
    }
    .ptech__navbar-menu_container-links-sign, 
    .ptech__navbar-service_container-links-sign{
        display: block;
    }
    .ptech__navbar-service_container{
        display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    background: #0d2c7cef;
    /* padding: 1rem; */
    position: absolute;
    right: -2rem;
    top: 100px;
    /* margin-top: -2.5rem; */
    min-width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
    }

    .ptech__navbar-service_container p{
        color: #ffffff;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-transform: capitalize;
    
        margin: 0 1rem;
        cursor: pointer;
    }
}