.rfplanning-position-relative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rfplanning_description-banner img {
    height: 70vh;
    width: 95%;

}

.rfplanning_description-banner caption p h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: #ffffff;
    min-width: 95%;
    border-radius: 5px;
    background-color: hsla(223, 81%, 27%, 0.5);
    letter-spacing: 2px;
}

.rfplanning_description_data {
    font-size: 18px;
    margin-top: 3rem;
    margin: 30px;
}

.rfplanning_description_data_heading {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.rfplanning_description-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.rfplanning-des-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-left: -1rem;
}

.rfplanning-des-container ul {
    color: #fff;
    background-color: hsla(223, 81%, 27%, 0.8);
    font-size: 18px;
    margin-left: -1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 25px;
}

.rfplanning-des-container ul:hover {
    background-color: rgb(29, 36, 137, 0.8);
}

@media screen and (max-width: 1250px) {
    .rfplanning_description-banner caption p h1 {
        font-size: 55px;
        line-height: 65px;

    }
}

@media screen and (max-width: 1150px) {
    .rfplanning_description-banner img {
        height: 55vh;
    }

    .rfplanning_description-banner caption p h1 {
        font-size: 45px;
        bottom: 38%;
        /* left: 50%; */
        line-height: 55px;
        letter-spacing: 3px;
        font-weight: 500;
        /* left: 3%; */
    }
}


@media screen and (max-width: 980px) {
    .rfplanning_description-banner caption p h1 {
        font-size: 40px;
        bottom: 38%;
        line-height: 60px;
        letter-spacing: 3px;
        font-weight: 500;

    }

    .rfplanning-des-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-left: -1rem;
    }

    .rfplanning_description_data {
        font-size: 15px;
    }

    .rfplanning_description_data_heading {
        font-size: 18px;
    }

    .rfplanning-des-container ul {
        font-size: 15px;
    }
}

@media screen and (max-width: 850px) {
    .rfplanning_description-banner img {
        height: 45vh;
    }

    .rfplanning_description-banner caption p h1 {
        font-size: 35px;
        bottom: 48%;
        line-height: 70px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .rfplanning-des-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin-left: -1rem;
    }
}

@media screen and (max-width: 780px) {
    .rfplanning_description-banner caption p h1 {
        font-size: 30px;
        bottom: 48%;
        line-height: 50px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .rfplanning-des-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        margin-left: -1rem;
    }

    .rfplanning_description_data {
        font-size: 15px;
    }

    .rfplanning_description_data_heading {
        font-size: 18px;
    }

    .rfplanning-des-container ul {
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    .rfplanning_description-banner caption p h1 {
        font-size: 31px;
        bottom: 48%;
        line-height: 50px;
        letter-spacing: 2px;
        font-weight: 500;

    }

    .rfplanning_description_data {
        font-size: 15px;
    }

    .rfplanning_description_data_heading {
        font-size: 18px;
    }

    .rfplanning-des-container ul {
        font-size: 15px;
    }
}

@media screen and (max-width: 550px) {
    .rfplanning_description-banner img {
        height: 40vh;
    }

    .rfplanning_description-banner caption p h1 {
        font-size: 22px;
        bottom: 53%;
        line-height: 50px;
        letter-spacing: 2px;
        font-weight: 400;
    }

    .rfplanning_description_data {
        font-size: 15px;
    }

    .rfplanning_description_data_heading {
        font-size: 18px;
    }

    .rfplanning-des-container ul {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .rfplanning_description-banner img {
        height: 35vh;
    }

    .rfplanning_description-banner caption p h1 {
        font-size: 19px;
        bottom: 56%;
        line-height: 30px;
        letter-spacing: 2px;
        font-weight: 400;
    }

    .rfplanning_description_data {
        font-size: 12px;
    }

    .rfplanning_description_data_heading {
        font-size: 12px;
    }

    .rfplanning-des-container ul {
        font-size: 12px;
    }
}