.service_description_banner{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #dfe7f953;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.5);

}
.service_description_banner .data{
    display: flex;
    flex-direction: column;
}

.service_description_banner h1{
    font-family: var(--font-family);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.04em;
}
.service_description_banner .image{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.service_description_banner .image .service_image{
    align-items: center;
    justify-content: center;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.8);
    width: 45%;
    height: 45%;
}
.service_description_banner .service_description{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}
.service_description_banner .service_description p{
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 450;
    color: rgb(20, 56, 66);
    text-align: center;

}
.service_description h3{
    font-size: 30px;
    margin-top: 2rem;
}
.service_description ul li{
    font-size: 20px;
    margin-top: 1.5rem;
    font-weight: 400;
    color: var(--color-subtext);
}
.product_offering{
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    margin-left: 2rem;
}
.product_offering .service_description{
    border: 0.5px solid black;
}
.product_offering .service_description h3{
    margin-left: 10px;
}

@media screen and (max-width: 1550px){
    .service_description_banner h1{
        margin-top: 10px;
        font-size: 50px;
    }
    .service_description_banner .image .service_image{
        align-items: center;
        justify-content: center;
        box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.8);
        width: 55%;
    }
    .service_description_banner .service_description p{
        font-size: 18px;
    }
    .service_description h3{
        font-size: 30px;
    }
    .service_description ul li{
        font-size: 18px;
        font-weight: 400;
    }
}

@media screen and (max-width: 950px){
    .service_description_banner h1{
        margin-top: 10px;
        font-size: 40px;
    }
    .service_description_banner .image .service_image{
        align-items: center;
        justify-content: center;
        box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.8);
        width: 95%;
    }
    .service_description_banner .service_description p{
        font-size: 15px;
    }
    .service_description h3{
        font-size: 20px;
    }
    .service_description ul li{
        font-size: 15px;
        font-weight: 400;
    }
}