.ptech__footer {
    display: flex;
    /* border: 1px solid rgb(0, 0, 0); */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

    background: #1d3271;
}
/* .footer__heading{
    color: var(--color-subtext);
}
 */

/* .ptech__footer-heading {
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0.1rem;
    margin-top: -3rem;
} */

/* .ptech__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
}

.ptech__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.75rem;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
} */
/* 
.ptech__footer-btn p {
    margin-top: 0.5rem;
    font-size: 30px;
    font-family: var(--font-family);
    line-height: 21px;
    color: black;
    word-spacing: 2px;
} */
.ptech__footer-btn {
    cursor: pointer;
}

.ptech__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    width: 98%;
    text-align: left;
}

.ptech__footer-links div {
    width: 250px;
    /* margin: 0.75rem; */
    color: #fff;
    margin-top: 1rem;
}

.ptech__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.ptech__footer-links_logo img {
    width: 100%;
    height: 100%;
    /* margin-top: 2rem; */
    margin-left: -2rem;
    margin-bottom: 2rem;
    /* margin-bottom: 0.75rem; */
}

.ptech__footer-links_logo p {
    /* margin-top: 6rem; */
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 20px;
    color: #fff;
}

.ptech__footer-links_div {
    margin-top: 6rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.ptech__footer-links_div h4 {
    font-size: 24px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;
    margin-top: 2rem;

    margin-bottom: 0.9rem;
}

.ptech__footer-links_div p {
    font-size: 15px;
    line-height: 20px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}
.ptech__footer-links_div .social-meida-text p{
    font-size: 20px;
}

@media screen and (max-width: 850px) {
    .ptech__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .ptech__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .ptech__footer-links div {
        margin: 0.1rem 0;
    }

    .ptech__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .ptech__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}
